<%- include("../partials/header"); %> <%- include("../partials/message"); %>
<div class="container-fluid container-overall">
  <div class="change-pass-container">
    <form action="/user/change-password" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Current Password</label
        >
        <input
          type="password"
          name="prevPassword"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label"
          >New Password</label
        >
        <input
          type="password"
          name="newPassword"
          class="form-control"
          id="exampleInputPassword2"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword3" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          name="newPassword2"
          class="form-control"
          id="exampleInputPassword3"
        />
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
</div>
