<%-include("../partials/header") %> <%-include("../partials/message") %>
<div class="container-fluid container-overall">
  <div class="about-container">
    <h1>About NanozymeDB</h1>
    <p>
      The NanozymeDB database delivers thorough information on nanozymes and
      their catalytic and kinetic properties. The database has been manually
      curated using publicly available abstracts/articles/reviews from past 15
      years. The rapid advancement of nanotechnology has accorded to the
      emergence and refinement of novel class of artificial enzymes known as
      nanozymes that have exhibited promising applications especially in
      medicine and industry. Nanomaterials with enzyme like properties are
      extensively employed in agricultural science, environmental remediation,
      sensors, food processing, imaging, and therapy. Design of efficient
      nanozymes would require consideration of biomimicry through the
      amalgamation of nanoscience, materials, biology, and chemistry. The recent
      progress in nanozyme research has reached a state where a specifically
      focused repository on nanozymes and their comparable catalytic properties
      is a requisite to steer to avenue of research. The NanozymeDB will serve
      as a vital resource tool spanning, 606 nanozymes, and their catalytic and
      kinetic parameters explored through various angles.
    </p>
    <img class="about-img" src="/images/about.jpg" alt="Nanozyme Img" />
    <h2>Our Team</h2>
    <div class="team-section">
      <div class="row">
        <div class="col-md-4 col-s-12 col-xs-12">
          <img src="" alt="" />
        </div>
        <div class="col-md-8 col-s-12 col-xs-12">
          <h4>Dr. Shilpa Sharma</h4>
          <br />
          <p>
            Dr. Shilpa Sharma is currently working as an Assistant Professor at
            Division of Biotechnology, NSIT Dwaraka, Delhi and her research area
            is Nanobiotechnology. Previously she was working as Scientist ‘B’ in
            Institute of Nano Science and Technology, Mohali. She completed PhD
            in Nanotechnology from IIT Guwahati in the year 2013 and joined as
            Research Associate in Department of Pathology, All India Institute
            of Medical Sciences, New Delhi. She did her graduation (B.Tech in
            Biotechnology, 2004-2008) from Guru Gobind Singh Indraprastha
            University, Delhi. She got associated with NSIT as Assistant
            Professor from 6th August 2014. <br />
            Connect with Dr. Shilpa Sharma
            <a style="color: #252525" href=""
              ><i class="fas fa-envelope"></i
            ></a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-s-12 col-xs-12">
          <h4>Kartik Singh</h4>
          <br />
          <p>
            <br />
            Connect with Kartik Singh
            <a style="color: #252525" href=""
              ><i class="fas fa-envelope"></i
            ></a>
          </p>
        </div>
        <div class="col-md-8 col-s-12 col-xs-12">
          <img src="" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-s-12 col-xs-12">
          <img src="" alt="" />
        </div>
        <div class="col-md-8 col-s-12 col-xs-12">
          <h4>Shreya Sharma</h4>
          <br />
          <p>
            Shreya Sharma is currently pursuing her B. Tech in biotechnology
            degree from Netaji Subhas University of Technology, Delhi, India.
            She has broad research interests in nanotechnology, bioinformatics,
            polymer science, and computational-biology and chemistry, for she
            believes not in limiting science to training in one specialty but
            touching the breadths in several fields related to and even distant
            from one's initial choice
            <br />
            Connect with Shreya Sharma
            <a style="color: #252525" href=""
              ><i class="fas fa-envelope"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<%-include("../partials/footer") %>
