<%- include("../partials/header") %> <%- include("../partials/message") %>
<div class="container-overall container-fluid">
  <div class="forgot-reset-container">
    <form action="/forgot-password" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          An email with reset link will be sent to this email address, if
          registered with us
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<%- include("../partials/footer") %>
