<%- include("../partials/header") %> <%- include("../partials/message") %>
<div class="container-overall container-fluid">
  <h1>Forgot Password?</h1>
  <div class="forgot-reset-container">
    <div class="row">
      <div class="col-md-6">
        <form class="universal-form" action="/forgot-password" method="post">
          <div class="form-floating mb-3">
            <input type="email" name="email" class="form-control" id="floatingInput" 
            aria-describedby="emailHelp"
            placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            <div id="emailHelp" class="form-text">
              An email with reset link will be sent to this email address, if
              registered with us
            </div>
    
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
