<%- include("../partials/header"); %> <%-include("../partials/message") %>
<div class="container-overall container-fluid">
  <div class="home-container">
    <h1>Welcome to NanozymeDB</h1>
    <div class="home-btn">
      <a href="/search">
        <button class="btn btn-dark">Search Nanozyme</button>
      </a>
      <a href="/user-gateway">
        <button class="btn btn-dark">Become a part of NanozymeDB</button>
      </a>
    </div>
  </div>
</div>
<%-include("../partials/footer"); %>
