<%- include("../partials/header") %>
<div class="container-fluid container-overall">
  <div class="admin-dash">
    <h1>Hello, <%= user.fName %></h1>
    <a href="/admin/search-users"
      ><button class="btn btn-primary">Search Users</button></a
    >
    <a href="/admin/manage-users"
      ><button class="btn btn-primary">Manage Users</button></a
    >
  </div>
</div>
