<%- include("../partials/header"); %><%- include("../partials/message") %>
<div class="container-fluid container-overall">
  <div class="admin-user-search">
    <h1>Search User</h1>
    <form action="/admin/search-user-query" method="post">
      <div class="row">
        <input type="text" name="userEmail" placeholder="Search here" />
      </div>
      <div class="row">
        <button type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<%- include("../partials/footer") %>
