<%- include("../partials/header") %><%- include("../partials/message") %>

<div class="container-fluid container-overall">
  <div class="editor-dash">
    <h1>Hello, <%= user.fName %></h1>
    <div class="quick-actions">
      <a href="/editor/approved-entry">
        <button class="btn btn-primary">Approved Entries</button>
      </a>
      <a href="/editor/unapproved-entries">
        <button class="btn btn-primary">Approve Entry</button>
      </a>
      <a href="/editor/flagged-entries">
        <button class="btn btn-primary">Flagged Entries</button>
      </a>
      <a href="/contribute/add-entry"
        ><button class="btn btn-primary">Add Entry to Database</button></a
      >
      <a href="/user/change-password"
        ><button class="btn btn-primary">Change Password</button></a
      >
    </div>
  </div>
</div>
<%- include("../partials/footer") %>
